#app {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

#go-board {
  float: left;
}

.button {
  width: 130px;
  font-size: 14pt;
}

#control {
  background: #eee;
  width: 130px;
  height: 780px;
  padding: 10px;
  margin-left: auto;
  float: right;  
}

.stats {
  margin-top: 20px; 
}
